body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: orange;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  margin-top: 100px;
  background: rgba(0,0,0,0.3);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 20px;
}

.converter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input {
  text-align: center;
}

button {
  background: #00c6ff;
  color: #000;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 10px;
  width: 150px;
  margin: auto;
}

button:hover {
  background: #00aaff;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
}
